<html>
    <head>
        <title>IS IT STEAK NIGHT??</title>
        <link rel="shortcut icon" href="/media/grillmeat-256.png">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    </head>

    <body>
        <div style="text-align: center">
            <div style="margin: 0 auto; display: inline-block;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <h1 style="float: left;">&nbsp IS IT <span id="item-desc" contenteditable="false">STEAK</span> NIGHT?? &nbsp</h1>
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <div style="clear: both;"></div>
            </div>
        </div>

        <div style="text-align: center">
            <div style="margin: 0 auto; display: inline-block;">
                <h1 class="isSteakNight"> Your email has been confirmed! </h1>
            </div>
        </div>

    </body>
</html>
