<html>
    <head>
        <link rel="shortcut icon" href="/media/grillmeat-256.png">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/js/tracking.js"></script>
        <script src="/js/analyzer.js"></script>
    </head>

    <body>
        <div style="text-align: center">
            <div style="margin: 0 auto; display: inline-block;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <h1 style="float: left;">&nbsp IS IT <span id="item-desc" contenteditable="true">STEAK</span> NIGHT?? &nbsp</h1>
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <div style="clear: both;"></div>
            </div>
        </div>

        <h1 class="isSteakNight"> {{ isSteakNight }} </h1>

        <div class="items-container">
            {% for item in items %}
            <h3>
                {{ item.dininghall }} is serving... {{ item.genre }}: {{ item.item }} for {{ item.meal }}
            </h3>
            {% endfor %}
        </div>

        <div style="text-align: center">
            <form action="/subscribe" method="POST">
              <p>Enter your email if you want to get notified when it's <span id="email-query">STEAK</span> night:</p>
                <input type="text" name="email">
                <button type="submit"> Sign up! </button>
            </form>
        </div>
    </body>
</html>
