<html>
    <head>
        <title>IS IT STEAK NIGHT??</title>
        <link rel="shortcut icon" href="/media/grillmeat-256.png">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/js/tracking.js"></script>
        <script src="/js/bundle.js"></script>
    </head>

    <body style="position: relative;">
        <div style="text-align: center">
            <div style="margin: 0 auto; display: inline-block;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/rutgers.jpg" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <h1 style="float: left;">&nbsp IS IT <span id="item-desc" contenteditable="true">STEAK</span> NIGHT?? &nbsp</h1>
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/rutgers.jpg" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <img src="/media/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
                <div style="clear: both;"></div>
            </div>
        </div>

        <div style="text-align: center">
            <div style="margin: 0 auto; display: inline-block;">
                <img class="emoji" src="/media/fire.png">
                <img class="emoji" src="/media/fire.png">
                <h1 class="isSteakNight"> &nbsp  &nbsp </h1>
                <img class="emoji" src="/media/fire.png">
                <img class="emoji" src="/media/fire.png">
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="items-container">
        </div>

        <div style="text-align: center">
            <form action="/subscribe" method="POST">
                <div style="float: left;">
                    <p>Enter your email if you want to get notified when it's <span id="email-query">STEAK</span> night (at Rutgers):</p>
                    <div class='input-box'>
                        <input id="email-input" type="text" name="email">
                        <button type="submit"> Sign up! </button>
                    </div>
                    <p class="failure" id="submit-message"></p>
                </div>
            </form>
        </div>

        <footer>
            <div style="position: absolute; left: 50%; bottom: 50px;">
                <div style="position: relative; left: -50%; text-align: center;">
                    <p> Send questions, comments, concerns to <a href="mailto:eric.song@rutgers.edu"> eric.song@rutgers.edu </a> </p>
                    <p> <a href="https://github.com/ericsong/IsItSteakNight"> code </a> </p>
                </div>
            </div>
        </footer>

    </body>
</html>
