h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

form {
    text-align: center;
    display: inline-block;
}

form input {
    width: 80%;
}

#submit-message {
    text-align: left;
    margin-top: 5px;
    margin-left: 8px;
    font-size: 12;
}

.success {
    color: #0CAD1A;
}

.failure {
    color: #D40F0F;
}

.item-desc-container {
    max-width: 500px;
}

#item-desc {
    text-transform: uppercase;
    border: solid 1px black;
}

span {
    color: #C21400;
}
