h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

form {
    text-align: center;
    display: inline-block;
}

.input-box input {
    width: calc(80% - 5px);
    margin-right: 3px;
    float: left;
}

.input-box button {
    width: calc(20% - 5px);
    margin-left: 2px;
    float: left;
}

.emoji {
    margin-top: 27px;
    height: 45px;
    float: left;
}

.isSteakNight {
    float: left;
    font-size: 40px;
}

#submit-message {
    float: left;
    text-align: left;
    margin-top: 10px;
    font-size: 14;
}

.success {
    color: #0CAD1A;
}

.failure {
    color: #D40F0F;
}

.item-desc-container {
    max-width: 500px;
}

#item-desc {
    text-transform: uppercase;
    border: solid 1px black;
}

span {
    color: #C21400;
}
