h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

form {
    text-align: center;
    display: inline-block;
}

form input {
    width: 80%;
}

.item-desc-container {
    max-width: 500px;
}

#item-desc {
    text-transform: uppercase;
    border: solid 1px black;
}

span {
    color: #C21400;
}
