<html>
  <head>
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/food-desserts-drinks-and-sweets/512/grillmeat-256.png">
        <style>
            h2 {
                text-align: center;
            }

            h1 {
                text-align: center;
              }

            h3 {
                text-align: center;
            }
        </style>
    </head>
    <body>
      <div style="text-align: center">
        <div style="margin: 0 auto; display: inline-block;">
            <img src="https://cdn2.iconfinder.com/data/icons/food-desserts-drinks-and-sweets/512/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
            <img src="https://cdn2.iconfinder.com/data/icons/food-desserts-drinks-and-sweets/512/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
            <h1 style="float: left;">&nbsp IS IT STEAK NIGHT?? &nbsp</h1>
            <img src="https://cdn2.iconfinder.com/data/icons/food-desserts-drinks-and-sweets/512/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
            <img src="https://cdn2.iconfinder.com/data/icons/food-desserts-drinks-and-sweets/512/grillmeat-256.png" style="margin-top: 23px; margin-bot: 25px; width:35px; float: left;">
            <div style="clear: both;"></div>
          </div>
        </div>
        <h2> {{ isSteakNight }} <h2>
        {% for item in items %}
        <h3> {{ item.dininghall }} is serving... {{ item.genre }}: {{ item.item }} for {{ item.meal }}</h3>
        {% endfor %}
    </body>
</html>
